@tailwind base;
@tailwind components;
@tailwind utilities;

 
.nav-me{
  padding: 0;
  margin: 0;
}
.nav-me li {
  color: #000;
  display:inline-block;
  padding: 15px 30px 15px ;
}

.nav-me li:hover {
  color: red;
  cursor: pointer;
}